:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow:  0 4px 8px #0005;
    --defaulty-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
    color: inherit;
 }

 ul,li, ol{
    list-style: none;
 }

 body{
   font-family: "Poppins", sans-serif;
 }

 header{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    justify-content: space-between;
    align-items: center;
    padding: var(--defaulty-padding);
 }

 header menu{
    display: flex;
    
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    font-family: "Poppins", sans-serif;
 }

 header li{
    padding: 4px 8px;
    transition: .5s;
 }

 header li:hover{
    box-shadow: var(--default-shadow);
    background-color: var(--secundary-color);
 }


 .login{
    display: flex;
    height: 48px;
    width: 120px;
    gap: 8px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    align-items: center;
    justify-content: center;
 }

 .login:hover{
   box-shadow: var(--default-shadow);
 }

 span{
    color: var(--primary-color);
 }
 main{

 }

 section{
   height: 100vh;
   padding: var(--defaulty-padding);
 }

 .home{
   background-color:var(--secundary-color);
   background-image: url(../img/background.svg);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: contain;
   display: grid;
   grid-template-rows: 3fr 1fr;
 }

 .container-slogan{
   display: flex;
   justify-content: center;
   align-items: end;
   gap: 64px;
 }

 .slogan{
   position: relative;
   bottom: 90px;
   width: 560px;
   font-size: 4rem;
   font-weight: 400;
   font-style: italic;
 }

 .slogan span{
   color: var(--primary-color);
 }

 .container-pizzas{
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

.pizza{
   position: relative;
   display: flex;
   align-items: end;
   overflow: hidden;

}
.pizza:hover .add-pizza{
   display: grid;
   opacity: 1;


}
.add-pizza{
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 12px;
    border: 3px solid white;
    color: white;
    font-size: 2rem;
    display: grid;
    place-content: center;
    position: absolute;
    top: -16px;
    right: -16px;
    transition: .5s;
    opacity: 0;
}

.container-info{
   height: 36px;
   position: absolute;;
   z-index: 9999;
   width: 99%;
   bottom: -36px;
   border-radius: 0 0 12px 12px;
   opacity: 60%;
   background-color: black;
   transition: .5s;
}
.pizza:hover container-info{
   bottom: 0;

}

.container-info span:nth

 .cardapio{
   background-color: plum;
 }
 .servicos{
   background-color: lightblue;
 }
 footer{

    height: 526px;
 }