:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
    --default-shadow:  0 4px 8px #0005;
    --defaulty-padding: 0 80px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
    color: inherit;
 }

 ul,li, ol{
    list-style: none;
 }

 body{
   font-family: "Poppins", sans-serif;
 }

 header{
    display: flex;
    position: fixed;
    height: 60px;
    width: 100vw;
    top: 60px;
    justify-content: space-between;
    align-items: center;
    padding: var(--defaulty-padding);
 }

 header menu{
    display: flex;
    
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    font-family: "Poppins", sans-serif;
 }

 header li{
    padding: 4px 8px;
    transition: .5s;
 }

 header li:hover{
    box-shadow: var(--default-shadow);
    background-color: var(--secundary-color);
 }


 .login{
    display: flex;
    height: 48px;
    width: 120px;
    gap: 8px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    align-items: center;
    justify-content: center;
 }

 .login:hover{
   box-shadow: var(--default-shadow);
 }

 span{
    color: var(--primary-color);
 }
 main{

 }

 section{
   height: 100vh;
   padding: var(--defaulty-padding);
 }

 .home{
   background-color:var(--secundary-color);
   background-image: url(../img/background.svg);
   background-repeat: no-repeat;
   background-position: top right;
 }
 .cardapio{
   background-color: plum;
 }
 .servicos{
   background-color: lightblue;
 }
 footer{

    height: 526px;
 }