:root{
    --primary-color: #f07807;
    --secundary-color: #f7e5d8;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 a{
    text-decoration: none;
    color: inherit;
 }

 ul,li, ol{
    list-style: none;
 }

 body{
    padding: 0 80px;
 }

 header{
    display: flex;
    position: fixed;
    height: 60px;
    width: calc(100% - 160px);
    top: 60px;
    justify-content: space-between;
    align-items: center;
 }

 header ul{
    display: flex;
    
    justify-content: space-between;
    gap: 48px;
    align-items: center;
    font-family: "Poppins", sans-serif;
 }

 header li{
    padding: 4px 8px;
    transition: .5s;
 }

 header li:hover{
    box-shadow: 0 4px 8px #0005;
    background-color: var(--secundary-color);
 }


 .login{
    display: flex;
    height: 48px;
    width: 120px;
    gap: 8px;
    border-radius: 12px;
    border: none;
    background-color: var(--secundary-color);
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px #0005;


 }

 span{
    color: var(--primary-color);
 }
 main{
   
    height: 500px;
 }
 footer{
    
    height: 526px;
 }